<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>상품 조회</h2> </div>
    제목: <span th:text="${postResponse.title}">제목</span><br/>
    본문: <span th:text="${postResponse.content}">본문</span><br/>
    작성자: <span th:text="${postResponse.writer}">작성자</span><br/>
    <img th:each="imageFile : ${postResponse.getImageList()}" th:src="|/posts/images/${imageFile.getStoreFileName()}|" width="300" height="300"/>
</div> <!-- /container -->
</body>
</html>